<div class="relative ">
    <img
    class="absolute z-10 w-[1400px] m-auto left-0 right-0"
    src="/logo-home.svg"
    />
    <video class="w-full h-auto" src="/video.mp4" 
    autoplay loop muted
    style="clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 84%, 0 0);"
    ></video>
    <video class="absolute -bottom-48 blur-3xl -z-40" src="/video.mp4" 
    autoplay loop muted
    ></video>
</div>